<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @*<meta name="viewport" content="width=device-width" />*@
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="~/Scripts/html5shiv.min.js"></script>
      <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
    @Styles.Render("~/BootStarp/CSS")

</head>
<body>
    <!--navbar-->
    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="container">
            <!--小屏幕按钮logo-->
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="../../images/logo/logo.jpg" width="250" height="70">
                    <!--<table style="height:30px;width:250px;">
                        <tr><td style="width:80px;"><img alt="Brand" src="images/logo/logo_s.jpg"></td><td style="font-size:8px;line-height:12px;">QingDao Microstat Engineering CO.LTD</td></tr>
                    </table>-->

                </a>
            </div>

            <!--导航-->

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li style="background:url(images/a_bg.jpg) no-repeat right center;">
                        <a href="Company_Brife.html" onfocus="this.blur()"><i class="iconfont text-primary ">&#xe609;</i>微恒简介</a>


                    </li>
                    <li style="background:url(images/a_bg.jpg) no-repeat right center;">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="iconfont text-success">&#xe605;</i>产品中心 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="Wh701.html">WH-TH701 全自动胶囊分选机</a></li>
                            <li><a href="CenterCondition.html">热泵驱动型溶液恒温恒湿中央空调系统</a></li>
                            <li><a href="WH-SG40.html">WH-SG40高速高精全自动硬质空心胶囊生产线</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="viscosity.html">在线粘度检测仪</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="mould.html">高速高精胶囊生产线的配套模具</a></li>
                        </ul>
                    </li>
                    <li style="background:url(images/a_bg.jpg) no-repeat right center;"><a href="Project.html" onfocus="this.blur()"><i class="iconfont text-info">&#xe617;</i>项目案例</a></li>
                    <li style="background:url(images/a_bg.jpg) no-repeat right center;"><a href="recruit.html" onfocus="this.blur()"><i class="iconfont text-danger">&#xe61c;</i>人才招聘</a></li>
                    <li style="background:url(images/a_bg.jpg) no-repeat right center;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="iconfont text-success">&#xe61b;</i>English<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">中文</a></li>
                            <li><a href="index_en.html">English</a></li>

                        </ul>
                    </li>
                    <li style="background:url(images/a_bg.jpg) no-repeat right center;"><a href="Contact.html" onfocus="this.blur()"><i class="iconfont text-danger">&#xe618;</i>联系我们</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <!--navbar-->

    <section id="first">
       
    </section>
    <section id="scond">
        <div class="container">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </section>
    <section id="footer">

    </section>
    @Scripts.Render("~/BootStrap/js")

</body>
</html>
